body{
  background: #242424;
  background: #646cff;
  background: #535bf2;
  background: #1a1a1a;
  background: #213547;
  background: #747bff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  transition: opacity 0.5s, transform 0.5s;
    transform: translateY(-100%);
}

.nav-menu li {
  margin-right: 20px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
}

/* Responsive design */

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  .nav-menu.show {
    display: block;
        transform: translateY(0);
  }
}



/*comm*/
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-menu li {
  margin-right: 20px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
}

/* Responsive design */

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #333;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(-100%);
  }

  .nav-menu.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}