.post-pic{
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
border: 2px solid red;
border: none;
}
.post-pic img{
  border-radius:50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid white;
  border: none;
}
.post-upp{
  display: flex;
  justify-content: ;
  align-items: center ;
  width:100%;
}
.post-write{
  font-size: 15px;
}
textarea{
  width: 100%;
  border:1px solid lightgray;
  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: slategray;
  font-weight: 600;
  font-family:" Helvetica, Arial, sans-serif";
  border: ;
  
}
.poster-name p{
  font-weight: bold
}
.poster-name{
  margin-left: 1rem;
}
.icons{
  display: flex;
  justify-content: space-evenly;
  background:;
  width: 100%;

}
icons > i{
  color:var(--icon-color);
  background: red;
  font-size: 40px;
  border:2px solid green;
  border: none;
  width: 100%;
  height: 40px;
  border: 2px solid red;
}
.cons{
  color: red;
}
.post-img{
  display: flex;
  border-radius: 10px;
  height:;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  border: none;
}
.post-img img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit:cover;
}
.box-img{
  display: grid;
  height: 80%;
  width: 100%;
  padding: .2rem;
  grid-gap: ;
  grid-template-columns: repeat(1, 1fr)
  
}

.post-img:nth-child(2){
  display: none;
}
.post-img:nth-child(3){
  display: none;
}
.post-img:nth-child(4) {
  display: none;
}