*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: block;
}
.back-img{
  width: 100vw;
  height: 20vh;
  background-color: red;
}
.features{
  width: 100vw;
  height: 60vh;
  background-color: whitesmoke;
}
.footer {
  width: 100vw;
  height: 20vh;
  background-color: black;
}
.back-img{
  display: block;
}
.back-container{
  position: absolute;
  border: 2px solid black;
  width: 95%;
  margin: 4em 10px;
  background-color: #fff;
  box-shadow: 2px black;
  z-index: 1000;
  border-radius: 8px;
}

.back-1{
display: flex;
justify-content: space-between;
}

#name h1{
  font-size: 1rem;
}
#name h3{
  font-size: 1rem;
}

.back-2{
  display: flex;
  justify-content: space-evenly;
}
.set{
  border: 2px solid white;
}
.back-3{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  
}
button{
  font-size: 15px;
  color: red;
  padding: 0.2rem 2rem;
  margin: 0.5rem 0;
  background-color: pink;
}