.sm101{
  display: none;
  color: #fff;
  justify-content: space-between;
}

.post-follow{
  display: flex;
  position: relative;
  justify-content: ;
  border: 2px solid white;
  border: none;
}
.block-post{
  display: block;
  margin-right: 0.5rem;
  border: 2px solid white;
  border: none;
  justify-items: center;
  align-items: center ;
  font-weight: bold;
  font-size: 0.7rem;
}
.block-post > p{
  padding: 0;
  margin-top: 0;
}
.count{
  margin-bottom:;
}
#third{
  margin-right: 0;
}
.sm101 h1{
  display: ;
  font-size: 1.2rem;
  color: #fff;
}
.spread h1{
  color: white;
}
.spreadset{
  display: block;
  display:none;
  position: absolute;
  z-index: 3000;
  overflow-y: scroll;
  background:none ;
  height: 100%;
}
.spread {
  display: flex;
  position:  ;
  background-color: ;
  width: 100vw;
  color: black ;
  height: 100%;
 
  background-color: rgba(0, 0, 0,0.7);
  
}

.status-box1{
  width: 65%;
  background: yellow;
  height: 45%;
  background: white;
}
.status-box1 h1{
  color: #000;
 display: none;
}
.status-box2{
  position: relative;
  background: greenyellow;
  width: 35%;
  height: 35%;
  top: 13rem;
  background: white;
}
.status-box2 h1{
   display: none;
  color: #000;
}
.sta-top{
  display: flex;
  position: absolute;
}
.sta-ops{
  border: 2px solid white;
  border-radius: 5px;
  padding: 3px;
  font-weight: bold;
  border: none;
  color: #fff;
}
.status-box2 video{
  height: 100%;
  width: 100%;
}
.status-box1 video{
  height: 100%;
  width: 100%;
}
.spread-name{
  position: absolute ;
  color: #fff;
  font-size: 900;
  font-weight: 800;
  background: ;
  height: 3rem;
  left: 15rem;
  top: 5rem;
}
.spread-name p{
  font-size: 800;
  height: 10vh;
  width: 100%;
  height: 100%;
}
.spread-name h1{
  color: #fff;
  font-weight:800;
}
.spread-list{
  position: absolute;
  bottom: 2rem;
  border: 2px solid red;
  background: rgba(0, 0, 0,0.4);
  color: #fff;
  border: none;
  border-radius: 10px;
  background: none;
}
.spread-list p{
  font-size: 1rem;
  font-weight: 700;
  
}
video{
  width: 200%;
  height: 100%;
  object-fit: cover;
}
.spread-list .phead{
  font-size: 2rem;
}